{% extends "main.html" %}

<!-- Content -->
{% block content %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />
 <!-- Hero for landing page -->
 <section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">

      <section>
        <div class=home-hero>
          <div class=home-hero-text>
            <h1>dr frank n lee</h1>
          </div>
          <div class=home-hero-image>
          </div>
        </div>
      </section>
      <section>
        <div class=home-description>
          <div class='row'>
            <div class='column'>
              Journey to Frontiers
            </div>
            <div class='column'>
             Follow me through the journeys to the frontiers of life sciences and information technologies
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class=home-purpose>
          <div class='row'>
            <div class='column'>
              Circle of Innovation
            </div>
            <div class='column'>
              I build circle of friends and volunteers to take on the world's challenging problems from sciences to technologies. If you'd like to join, let me know. 
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
{% endblock %}


<!-- Application footer -->
{% block footer %}
{{ super() }}
{% endblock %}
