{% extends "main.html" %}

<!-- Content -->
{% block content %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />
 <!-- Hero for landing page -->
 <section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">

      <section>
        <div class=home-hero>
          <div class=home-hero-text>
            <font size=12> ... Journey to Frontiers & Circles of Innovation </font>
          </div>
          <div class=home-hero-image>
          </div>
        </div>
      </section>
      <section>
        <div class=home-description>
          <div class='row'>
            <div class='column'>
              scientist | technologist | writer | lecturer | inventor 
            </div>
            <div class='column'>
             Follow me through the journeys to the frontiers with circles of innovation in sciences, technologies and random ideas to make our world a better places ... some of these ideas turn into patents. 
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</section>
{% endblock %}


<!-- Application footer -->
{% block footer %}
{{ super() }}
{% endblock %}
